*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-position: auto;
    background-size: cover;
    height: 15vh;
}

.navbar{
    background-color: #1a3eaa;
    width: auto;
    height: 75px;
    margin: fixed;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color:#a5eb82;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px;

}

.menu{
    width: 400px;
    float: right;
    height: 70px;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color:#a5eb82;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:white;
}



.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}


.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: #ff7200;
    font-size: 65px
}


.btnn{
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7200;
}
.btnn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7200;
}
.liw{
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color: #ff7200;
}
.log{
    width: 80px;
    height:70px;
    border-radius:50% ;
    position: absolute;
    /* left:calc(50% - 50px); */
}
.abc{
        width: 80px;
        float: left;
        height: 70px;
        margin-left: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
}

.quote{
    margin-left: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 50px;
    display: block;
}

.desc{
    margin-left: 90px;
    float: left;
    font-size: 30px;
    font-style: oblique;
    text-align: center;
}
.net{
    margin-right: 120px;
    height: 10px;
    float: right;
}
